
bioconductor-onassis==1.12.0
bioconductor-onassisjavalibs==1.12.0
biopython==1.78
fastcluster==1.1.28
gmql==0.1.1
goatools==1.0.15
gseapy==0.10.4
hdbscan==0.8.27
mygene==3.2.1
pandas==1.2.4
pyensembl==1.9.1
r-rjava==0.9.11
rpy2==3.4.3
seaborn==0.11.1
tabulate==0.8.9
